@media (max-width: 839px) {
    .wp-block-group.is-layout-grid {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 840px) and (max-width: 1200px) {
    .wp-block-group.is-layout-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}