:root {
    --wpforms-label-error-color: var(--wp--preset--color--error);
}

@media (max-width: 839px) {
    .wp-block-group.is-layout-grid {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 840px) and (max-width: 1200px) {
    .wp-block-group.is-layout-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

textarea {
    padding: 14px 0px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0px !important;
    font: inherit;
    color: var(--wp--preset--color--on-surface-variant);
    width: 20px;
    height: 20px;
    border: 2px solid var(--wp--preset--color--on-surface-variant);
    border-radius: var(--wp--preset--border-radius--extra-small);
    transform: translateY(2.5px);

    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    border-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--on-primary);
    background-color: var(--wp--preset--color--primary);
}

form,
.wpforms-field-container {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--large);
}

.comment-form,
.wpforms-container .wpforms-field {
    padding: 0px !important;

    &.wpforms-field-gdpr-checkbox {
        ul {
            list-style-type: none;
            padding: 0px;

            li {
                label {
                    line-height: 1;
                    font-size: var(--wp--preset--font-size--label-large) !important;
                }
            }
        }
    }

    label,
    legend {
        padding: 0px var(--wp--preset--spacing--normal) !important;
        font-size: var(--wp--preset--font-size--label-medium) !important;
        color: var(--wp--preset--color--on-surface-variant) !important;
        margin: var(--wp--preset--spacing--extra-small) 0px;
    }
}

.wpforms-container label.wpforms-error,
.wpforms-container em.wpforms-error {
    color: var(--wp--preset--color--error) !important;
    font-size: var(--wp--preset--font-size--label-medium) !important;
    padding-inline: var(--wp--preset--spacing--normal) !important;
    padding-top: var(--wp--preset--spacing--extra-small) !important;
}

.wpforms-container .wpforms-field input.wpforms-error,
.wpforms-container .wpforms-field input.user-invalid,
.wpforms-container .wpforms-field textarea.wpforms-error,
.wpforms-container .wpforms-field textarea.user-invalid,
.wpforms-container .wpforms-field select.wpforms-error,
.wpforms-container .wpforms-field select.user-invalid {
    border: 2px solid var(--wp--preset--color--error) !important;
}

.wpforms-submit {
    color: var(--wp--preset--color--on-primary);
    background-color: var(--wp--preset--color--primary);
    font-size: var(--wp--preset--font-size--label-large) !important;
    font-weight: normal !important;
    font-family: inherit;
    min-height: 48px !important;
    width: 100% !important;
    border: none;
    border-radius: var(--wp--preset--border-radius--large);
    transition: opacity var(--wp--custom--transition-normal);

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}